<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->

    <!-- End -->
    <br><br>
    <div class="section-header text-left">

      <h2>Servicios que ofrecemos </h2>
  </div>
    <br>
    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/apertura.jpeg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a class="text-dark">Apertura de autos</a></h5>


          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/llavecarro.jpeg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a  class="text-dark">Llaves con chip</a></h5>


          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/sensores.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a  class="text-dark">Sensores</a></h5>


          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/reparacion.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a  class="text-dark">Reparacion de chapas <small>(Switch)</small></a></h5>


          </div>
        </div>
      </div>
      <!-- End -->
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/duplicado.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a  class="text-dark">Duplicado de llaves </a></h5>


          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/apertura.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a  class="text-dark">Apertura de chapas </a></h5>


          </div>
        </div>
      </div>
      <!-- End -->


      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="assets/img/carcasa.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a  class="text-dark">Reparacion de carcasas de controles</a></h5>
            

          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->

      <!-- End -->








</div>
