
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/img/8.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-left">

                    <h2>Servicio de Cerrajeria Cuautitlan Izcalli  </h2>
                </div>
                <div class="about-content">
                    <p>
                      Programación y codificación de todo tipo de llaves para autos con chip, servicio especializado. Apertura de autos, chapas , candados, duplicado de llaves de todo tipo
                    </p>
                    <ul>
                        <li><i class="far fa-check-circle"></i>Servicio a domicilio</li>
                        <li><i class="far fa-check-circle"></i>Apertura de autos</li>
                        <li><i class="far fa-check-circle"></i>Laves con chip</li>
                        <li><i class="far fa-check-circle"></i>Reparacion de controles</li>
                    </ul>
                    <a class="btn btn-custom" href="https://api.whatsapp.com/send?phone=+52{{ infopaginaService.info.Telefono }}">SERVICIO LAS 24 HORAS MANDANOS WHATSAPP</a>
                    <p>
                    <br>

                       O si prefieres
                    </p>
                    <a class="btn btn-custom" href="tel:+52{{ infopaginaService.info.Telefono }}">LLAMANOS AHORA.</a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Start -->
<!--<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>What We Do?</p>
            <h2>Premium Washing Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash-1"></i>
                    <h3>Exterior Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Interior Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-vacuum-cleaner"></i>
                    <h3>Vacuum Cleaning</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-seat"></i>
                    <h3>Seats Washing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service"></i>
                    <h3>Window Wiping</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-2"></i>
                    <h3>Wet Cleaning</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Oil Changing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-brush-1"></i>
                    <h3>Brake Reparing</h3>
                    <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
