<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="footer-contact">
                  <h2>Ponerse en contacto</h2>

                  <p><i class="fa fa-phone-alt"></i>{{ infopaginaService.info.Telefono }}</p>
                  <p><i class="fa fa-envelope"></i><small>{{ infopaginaService.info.Correo }}</small></p>
                 <!-- <div class="footer-social">
                      <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                      <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                      <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                      <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                  </div>-->
              </div>


      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-link">

            <div class="about-img">
              <img src="assets/img/marcas.png" alt="Image">
          </div>
        </div>
    </div>





  </div>

  <div class="container copyright">
      <p>&copy; <a routerLink="home">Servicio de Cerrajeria Sanchez </a>{{anio}} All Right Reserved.  PERFORMED BY KNG SYSTEMS</p>
  </div>
</div>
